

@model Refreshment_Dashboard.Models.Enrollment

@{
    ViewData["Title"] = "Create";
    var employeeListDetails = ViewBag.TypeDropDown;
    var activityListDetails = ViewBag.TypeDropDown2;
    var teamListItem = ViewBag.TypeDropDown3;
    //var EmployeeListDD = TempData["EmployeeList"];
}

<h1>Create</h1>

<h4>Enrollment</h4>
<hr />

<form method ="post">
  
    <select asp-for ="EmployeeID" >
           <option selected>--Choose Employee--</option>
           @foreach (var item in employeeListDetails)
                    {
                        <option value="@item.ID">@item.Firstname</option>
                    }
       </select>

        <select asp-for ="ActivityID" >
           <option selected>--Select An Activity--</option>
           @foreach (var item in activityListDetails)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
       </select>

       <select asp-for ="TeamID">
           <option selected>--Select Team--</option>
            @foreach (var item in teamListItem)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
       </select>
       <br />
       <br />
       <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
       </div>

        <p style = "color:red;">
           @*@ViewBag.ExistingActivity*@
            @Html.Label("",Convert.ToString((string)ViewBag.ExistingActivityError))
       </p> 
       <p style = "color:red;">
           @*@ViewBag.ExceedingActivity*@
           @Html.Label("",Convert.ToString((string)ViewBag.ExceedingActivityError))
       </p> 
       <br />

   
   
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

