
@model Refreshment_Dashboard.Models.Enrollment

@{
    ViewData["Title"] = "Edit";
    var employeeListItem = ViewBag.TypeDropDown;
    var activityListItem = ViewBag.TypeDropDown2;
    var teamListItem = ViewBag.TypeDropDown3;
}

<h1>Edit</h1>

<h4>EmployeeActivity</h4>
<hr />

<form method ="post">
  <br />
  
    <select asp-for ="EmployeeID">
           <option selected>--Employee--</option>
            @foreach (var item in employeeListItem)
                    {
                        <option value="@item.ID">@item.Firstname</option>
                    }
       </select>
    <br />
    <br />
        <select asp-for ="ActivityID">
           <option selected>--Activity--</option>
            @foreach (var item in activityListItem)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
       </select>
       <br />
       <br />
       <select asp-for ="TeamID">
           <option selected>--Venue--</option>
            @foreach (var item in teamListItem)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
       </select>
       <br />
       <br />

   <button type ="submit" class= "btn btn-primary">
       Edit
   </button>

    <p style = "color:red;">
           @Html.Label("",Convert.ToString((string)ViewBag.Error))
       </p> 
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script>
$(document).ready(function(){
  $("#ActivityID").change(function(){
    var selectedIds = $(this).val();
      $.ajax({url: '@Url.Action("CallResult" , "Enrollments")', type:"post", data:{id:selectedIds} ,success: function(result){
      if(result != null)
      {
          $("#TeamID").empty();
            $.each(result, function (i,value) {
                $("#TeamID").append($("<option></option>").val(value.value).html(value.text));
            });
      }
    }});
  });
});
</script>
}