@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Refreshment_Dashboard.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Enrolled Employees </h1></center>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
{
    <p>
        <a asp-action="Create">Enroll New Employee</a>
    </p>
}
<table class="table">
        <thead>
            <tr>
                <th>Enrollment No.</th>
                <th>Activity Name</th>
                <th>Employee Name</th>
                <th>Team</th>
                 @if (SignInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
{
                <th>Action</th>
}
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.Activity.Name
                    </td>
                    <td>
                        @item.Employee.Firstname
                    </td>
                    <td>
                        @item.Team.Name
                    </td>

                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
