@model IEnumerable<Refreshment_Dashboard.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Activity</th>
                <th>MaxLimit</th>
                <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Activity.Name</td>
            <td>@item.MaxLimit</td>
            <td>
                <a asp-controller="Teams" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-controller="Teams" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>