@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Refreshment_Dashboard.Models.Venue>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
                <th>ID</th>
                <th>Venue Name</th>
                <th>Activity</th>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
{
                <th>Action</th>
}
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.ActivityID</td>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
{
            <td>
                <a asp-controller="Venues" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-controller="Venues" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
}
        </tr>
}
    </tbody>
</table>